{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div class="row">{{ form_row(form.equipe) }}</div>
    <div class="row">{{ form_row(form.matricule) }}</div>
    <div class="row">{{ form_row(form.nomAgt) }}</div>
    <div class="row">{{ form_row(form.dateNaisAgt) }}</div>
    <div class="row">{{ form_row(form.dateEmbAgt) }}</div>
    <div class="row">{{ form_row(form.nb_enft_paye) }}</div>
    <div class="row">{{ form_row(form.telephone) }}</div>
{{ form_end(form) }}
