{% extends 'base.html.twig' %}

{% block title %}Agent index{% endblock %}
{% block contenttitle %}Nouvelle fiche de collecte{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message|raw }}
            {% endfor %}
        </div>
    {% endfor %}
    {{ form_start(form) }}
        <div class="row">
            {{ form_errors(form.matricule) }}
            <div class="col-sm-6">
                {{ form_widget(form.matricule) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}

    {# Au cas où l'on trouve l'agent #}
    {% if agent %}
        <hr class="my-5 border-primary">
        <table class="table table-striped table-hover" name="parent">
            <thead>
                <tr>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom complet</th>
                    <th scope="col" class="text-center">Naissance</th>
                    <th scope="col" class="text-center">Date Emb.</th>
                    <th scope="col" class="text-center">Nbre Enft payé</th>
                    <th scope="col" class="text-center">Téléphones</th>
                    <th scope="col" class="text-center">Equipe</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ agent.matricule }}</th>
                    <td>{{ agent.nomAgt }}</td>
                    <td class="text-center">{{ agent.dateNaisAgt|date('d-m-Y') }}</td>
                    <td class="text-center">{{ agent.dateEmbAgt|date('d-m-Y') }}</td>
                    <td class="text-center">{{ agent.NbEnftPaye }}</td>
                    <td class="text-center">{{ agent.telephone }}</td>
                    <td class="text-center">{{ agent.equipe }}</td>
                    <td class="text-center">
                        {# <a href="{{ path('app_agent_edit', {'id': agent.id}) }}">edit</a> #}
                        <!-- Button to Open the Modal -->
                        <button href="{{ path('app_agent_edit', {'id': agent.id}) }}" type="button" class="btn btn-sm btn-primary"
                                data-bs-toggle="modal" data-bs-target="#editAgent" data-id="{{ agent.id }}">
                            Modifier l'agent
                        </button>

                        <!-- La fenêtre modale qui affichera le formulaire -->
                        <div class="modal" id="editAgent">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modifier les infos de l'agent</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body text-start">
                                        {{render(controller('App\\Controller\\AgentController::edit',{'id': agent.id})) }}
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% if agent.equipe and agent.telephone  %}
            <div class="row mx-1">
                <span class="text-bg-dark fw-bolder text-center mt-5">Enfants payés au fichier solde</span>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Noms</th>
                        <th scope="col">Naissance</th>
                        <th scope="col">Nom conjoint</th>
                        <th scope="col" class="text-center">Reconnu (O/N) ?</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enfant in agent.enfants %}
                        <tr>
                            <td>{{ enfant.nomEnfant }}</td>
                            <td>{{ enfant.dateNaissance|date('d-m-Y') }}</td>
                            <td>{{ enfant.nomConjoint }}</td>
                            <td class="text-center">{% if enfant.isEnfantReconnuYN == false %}NON{% else  %}OUI{% endif %}</td>
                            <td class="text-center">
                                <button href="{{ path('app_enfant_edit', {'id': enfant.id}) }}" type="button"
                                        class="btn btn-sm btn-{% if enfant.isEnfantReconnuYN == false %}warning{% else %}success{% endif %}"
                                        data-bs-toggle="modal" data-bs-target="#editEnfant-{{ enfant.id }}" data-id="{{ enfant.id }}">
                                    {% if enfant.isEnfantReconnuYN == true %}Le modifier{% else %}Renseigner{% endif %}
                                    {% set i = enfant.id %}
                                </button>

                                <!-- La fenêtre modale qui affichera le formulaire -->
                                <div class="modal" id="editEnfant-{{ enfant.id }}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header bg-success">
                                                <h4 class="modal-title fw-bolder">Modifier les informations sur l'enfant {{ i }}</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body text-start">
                                                {{render(controller('App\\Controller\\EnfantController::edit',{'id': enfant.id})) }}
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="row mx-1">
                <span class="text-bg-danger fw-bolder text-center mt-5">
                    Vous devez mettre à jour les informations de l'agent telles que portées sur la fiche de collecte
                </span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

