{{ form_start(form, {'action' : path('app_enfant_edit',{'id':id})}) }}
    <div class="row">
        <div class="col-8">{{ form_row(form.nom_enfant) }}</div>
        <div class="col">{{ form_row(form.date_naissance) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.cec) }}</div>
        <div class="col">{{ form_row(form.codeArrondissement) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.numero_acte) }}</div>
        <div class="col">{{ form_row(form.date_acte_naissance) }}</div>
    </div>
{{ form_end(form) }}